/* body{
    background-color: aqua;
}
img{
    /*mix-blend-mode: multiply;
}

.section{
    width: 100vmax;
    height:50vmax;
    max-height: 50%;
   
    background-image: url(dragonimg/dragonbg.png);
    background-size: 100%;
    
    
}

.sec1{
    width: 100vmax;
    height:50vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(to right,#0079a7,#5ce1e6);
}

.img1 {
    height: 275px;
    width: 490px;
    margin: 20px;
    background-size: cover; 
     background-image: url('dragonimg/dwithoutbg.png'); 
    transition: 1s all ease-in ;
}

.info {
    display: none;
    height: 275px;
    width: 490px;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    transition: 1s all ease-out;
} 
*/


